<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank"href="http:github.com/ashjojo">Ashley Johnson</a>. A web developer student at the University of Texas.

  </p>
  <br />
  <p>
    Ashley is very excited to share her coding knowledge with the world.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ash.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ashley Johnson</h2>
      <br />
      <p>
        Ashley Johnson is a web developer currently enrolled in coding bootcamp at the University of Texas, in Austin.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />



</div>